body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    background: #f1f1f1;
}

.info-text {
    font-style: italic;
    font-weight: bold;
    color: #86898f;
}